
body 
{
  background-image: url('backimg.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
#heading
{
    color:white;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 35px;
    padding: 20px;
}
.div-1 .para
{
    color: rgb(253, 78, 2);
    text-align: center;
    font-family: 'Times New Roman';
    font-size: larger;

}
#Pro
{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman';
}
.div-2 .menu_container 
{
    align-items: center;
	display:flex;
	margin-right: 25%;
	margin-left: 25%;
}
.div-2 .menu_container .menu 
{
	width: 33.33%;
	margin: 75px;
	height: auto;
}
.div-2 .menu_container .menu:hover 
{
 box-shadow:0px 3px 65px 0px rgb(227, 23, 23) ;
}
.div-2 .menu_container .menu .menu_img
{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.div-2 .menu_container.menu .menu_img img
{
    position: relative;
}
.div-2 .menu_container .menu .pizza_cont
{
    align-items: center;
	display:flex;
    color: white;
    text-align: center;
    font-size: large;
}
.div-2 .menu_container .menu .burger_cont
{
    align-items: center;
	display:flex;
    color: white;
    text-align: center;
    font-size: large;
}
.div-2 .menu_container .menu .pizza_cont button
{
    padding: 5px;
    margin-left: 4.5px;
    margin-right: 4.5px;
}

.div-2 .menu_container .menu .burger_cont button
{
    padding: 5px;
    margin-left: 4.5px;
    margin-right: 4.5px;
}
.div-3 pre
{
    color: white;
    text-align: center;
    font-size: large;
}
.div-3 p
{
    color: white;
    text-align: center;
    font-size: large;
}
.div-3 button
{
    margin-left: 4.5px;
    margin-right: 4.5px;
    padding: 5px;
}